<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>

   <script src="dist/concat.js"></script>
</head>
<body ng-app="carsModule" ng-controller="MainController" style="text-align: center">
<a href="#/">Home</a>
<div ng-view></div>
</body>
</html>